// Body
$body-bg: #f8fafc;
//fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
// Typography
$font-family-sans-serif: 'Roboto','Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-size-button: 20px;
$font-size-main: 28px;
$font-size-big:36px;
$font-size-regular:18px;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$reddish:#de5757;
$bluish:#235f96;
$lightblue:#4ea9ec;
$lightgreen: #5bda6f;
$grayish: #f1f1f1;
$darkgray: #c4c4c4;
